@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 text-white font-weight-bold">Api to Detect Bangla Fake News</h1>
    <p class="display-4 text-white">Try our fake news detection technologies for free. Send a news text to see whether that news is FAKE or TRUE.</pclass="display-3>
</div>
