<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
	<remove name="WebDAVModule" />
</modules>
<directoryBrowse enabled="true" />
        <handlers>
            <add name="VerifIDML" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="run.app" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\VerifIDML" />
</appSettings>
</configuration>